@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  height: 100vh;
  width: 100vw;
  background-image: url('../public/logo.jpg');

  background-repeat: no-repeat;
  background-size: 60vh;
  background-position: center;

}

input::placeholder {


  color: white;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;

}

table{
background-color: rgb(227, 225, 225);
  border-collapse: collapse;
  width: 50% ;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;  

}
th, td {
  padding: 8px;
  text-align: center;


  border: 1px solid #bcbaba;

}
.tabelas{


  background-color: rgb(227, 225, 225);
display: flex ;

text-align: center;

}